{{> head }}
      
      {{> navbar }}

      <div class="col-8">
          <h1>Diagrama Hermes</h1>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, accusamus recusandae laborum, harum sint fugiat eos hic commodi officia fuga obcaecati architecto deserunt id molestiae voluptas doloribus quis nostrum pariatur?
          </p>
      </div>

      <div class="col-4">
          <img src="assets/img/diagram.png" class="img-thumbnail">
        </div>
{{> footer }} 